{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block main_content %}
    <!-- post block -->
    <div class="blog-post">
        <h3 class="blog-post-title"><a>{{ object.title }}</a></h3>
        <p class="blog-post-meta">{{ object.posted_time }} by <a href="#">{{ object.author }}</a>
        </p>
        <p>{{ object.content|safe }}</p>
    </div>
    <hr>
    <div class="blog-category">
        <p>Categories: <a href="{% url 'category' object.category.id %}">{{ object.category }}</a>
        </p>
    </div>
    <div class="blog-tag">
        <p>Reading more about
            {% for tag in post.tag.all %}
                <a href="#">{{ tag }}</a>
                {% if not forloop.last %}
                    |
                {% endif %}
            {% endfor %}
        </p>
    </div>
    <hr style="margin-bottom: 3rem">
    <!-- comments block -->
    <div class="blog-comments">
        <h3>Comments</h3>
        <hr>
        {% for comment in comment_list %}
            {% if comment.reply == None %}  <!-- if no replay, then its a parent comment -->
                <div class="parent-comment">
                    <p class="comment-nav">{{ comment.name }} ({{ comment.posted_time }})</p>
                    <div class="comment-content">{{ comment.content }}</div>
                </div>
                <div class="comment-meta comment-footer">
                    <span class="comment-reply"><i class="fa fa-reply"></i>
                        <a class="comment-reply-link"
                           href="#publish"
                           onclick="reply('{{ comment.name }}',{{ comment.id }})"
                           aria-label="Reply to Usman">Reply</a></span>
                </div>
            {% else %}
                <div class="children-comment">
                    <p class="comment-nav">{{ comment.name }} >>> {{ comment.reply.name }}
                        ({{ comment.posted_time }})</p>
                    <div class="comment-content">{{ comment.content }}</div>
                </div>
            {% endif %}
        {% empty %}
            <a>No comments yet!</a>
        {% endfor %}
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Leave a Reply
                <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="">Cancel
                    reply</a></small>
            </h3>
            <form action="https://www.bloggingbasics101.com/wp-comments-post.php?wpe-comment-post=dbo2006" method="post"
                  id="commentform" class="comment-form">
                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
                    Required fields are marked <span class="required">*</span></p>
                <div class="form-group comment-form-comment"><textarea id="comment" class="form-control" name="comment"
                                                                       cols="45" rows="4" aria-required="true"
                                                                       placeholder="Message..."></textarea></div>
                <div class="form-group comment-form-author"><input id="author" class="form-control" name="author"
                                                                   type="text" placeholder="Name*" value="" size="30"
                                                                   aria-required="true"></div>
                <div class="form-group comment-form-email"><input id="email" class="form-control" name="email"
                                                                  type="text" placeholder="Email*" value="" size="30"
                                                                  aria-required="true"></div>
                <div class="form-group comment-form-url"><input id="url" class="form-control" name="url" type="text"
                                                                placeholder="Website" value="" size="30"></div>
                <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit"
                                              value="Post Comment"> <input type="hidden" name="comment_post_ID"
                                                                           value="540" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="1162976">
                </p>
                <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
                                                 value="c15d11e49b"></p>
                <p style="display: none;"></p>
                <input type="hidden" id="ak_js" name="ak_js"
                       value="1531897823593"></form>
        </div>
    </div>
{% endblock %}

