<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class='post-body entry-content'>
    Python&nbsp;<b><a href="https://www.python.org/downloads/release/python-370/" target="_blank">3.7.0</a></b>&nbsp;is
    now available (and so is <a href="https://www.python.org/downloads/release/python-366/"
                                target="_blank">3.6.6</a>)!<br/>
    <br/>
    <div>
        <div>
            On behalf of the Python development community and the Python 3.7 release team, we are pleased to announce
            the availability of <b>Python 3.7.0</b>. Python 3.7.0 is the newest feature release of the Python language,
            and it contains many new features and optimizations. You can find Python 3.7.0 here:
        </div>
        <div>
            &nbsp; &nbsp;&nbsp;<a href="https://www.python.org/downloads/release/python-370/">https://www.python.org/downloads/release/python-370/</a>
        </div>
        <div>
            <br/></div>
        <div>
            Most third-party distributors of Python should be making 3.7.0 packages available soon.
        </div>
        <div>
            <br/></div>
        <div>
            See the&nbsp;<a href="https://docs.python.org/3.7/whatsnew/3.7.html" target="_blank">What&#8217;s New In
            Python 3.7</a>&nbsp;document for more information about features included in the 3.7 series. &nbsp;Detailed
            information about the changes made in 3.7.0 can be found in its&nbsp;<a
                href="https://docs.python.org/3.7/whatsnew/changelog.html#python-3-7-0-final" target="_blank">change
            log</a>. &nbsp;Maintenance releases for the 3.7 series will follow at regular intervals starting in July of
            2018.
        </div>
        <div>
            <br/></div>
        <div>
            We hope you enjoy Python 3.7!
        </div>
        <div>
            <br/></div>
        <div>
            P.S. We are also happy to announce the availability of <b>Python 3.6.6</b>, the next maintenance release of
            Python 3.6:
        </div>
        <div>
            &nbsp; &nbsp; <a href="https://www.python.org/downloads/release/python-366/">https://www.python.org/downloads/release/python-366/</a>
        </div>
        <div>
            <br/></div>
        <div>
            Thanks to all of the many volunteers who help make Python Development and these releases possible! &nbsp;Please
            consider supporting our efforts by volunteering yourself or through organization contributions to
            the&nbsp;<a href="https://www.python.org/psf/" target="_blank">Python Software Foundation</a>.
        </div>
        <p>Forwarded from <a
                href="https://pythoninsider.blogspot.com/2018/06/python-3.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+PythonInsider+%28Python+Insider%29">Python
            insider</a></p>
    </div>
</div>
</body>
</html>